(
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Cdotaccent,
D,
Eth,
Dcaron,
Dcroat,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Schwa,
F,
G,
Gbreve,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
I,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
J,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
V,
W,
X,
Y,
Yacute,
Ydieresis,
Z,
Zacute,
Zcaron,
Zdotaccent,
T_b.liga,
T_h.liga,
T_k.liga,
T_l.liga,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
cdotaccent,
d,
eth,
dcaron,
dcroat,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
schwa,
f,
g,
gbreve,
gcommaaccent,
gdotaccent,
h,
hbar,
i,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
j,
jdotless,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scommaaccent,
germandbls,
t,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
v,
w,
x,
y,
yacute,
ydieresis,
z,
zacute,
zcaron,
zdotaccent,
f_b.liga,
f_b,
f_f,
f_f_b.liga,
f_f_h.liga,
f_f_k.liga,
f_f_l.liga,
f_h.liga,
f_h,
f_i,
f_k.liga,
f_k,
f_l.liga,
f_l,
f_lcaron,
f_lcaron.liga,
fi,
fl,
ordfeminine,
ordmasculine,
mu,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
fraction,
onehalf,
onequarter,
threequarters,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
.notdef,
space,
nbspace,
space.001,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
cent,
currency,
dollar,
euro,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
micro,
percent,
perthousand,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
strokeshortcomb,
slashlongcomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
strokelongcomb.case,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek
)