<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>682</integer>
    <key>capHeight</key>
    <integer>600</integer>
    <key>copyright</key>
    <string>© 2023, Collletttivo &amp; Matteo Maggi</string>
    <key>descender</key>
    <integer>-232</integer>
    <key>familyName</key>
    <string>Halibut</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2018/11/03 16:13:45</string>
    <key>openTypeHheaAscender</key>
    <integer>925</integer>
    <key>openTypeHheaDescender</key>
    <integer>-320</integer>
    <key>openTypeHheaLineGap</key>
    <integer>100</integer>
    <key>openTypeNameDesigner</key>
    <string>Matteo Maggi</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://maggimatteo.eu</string>
    <key>openTypeNameLicense</key>
    <string>SIL OpenFont License</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL_web</string>
    <key>openTypeNameManufacturer</key>
    <string>Collletttivo</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://www.collletttivo.it</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>925</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-320</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>100</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>CLT</string>
    <key>openTypeOS2WinAscent</key>
    <integer>925</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>306</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <integer>392</integer>
      <integer>412</integer>
      <integer>600</integer>
      <integer>620</integer>
      <integer>682</integer>
      <integer>702</integer>
    </array>
    <key>postscriptFontName</key>
    <string>Halibut-Regular</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-252</integer>
      <integer>-232</integer>
    </array>
    <key>styleName</key>
    <string>Condensed Thin</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>81</integer>
    <key>xHeight</key>
    <integer>392</integer>
  </dict>
</plist>
